/*
 * Definancy API
 * REST API for managing asset, network and contract configurations, and vault-based financial operations. This API provides a comprehensive set of endpoints for health monitoring, network management, asset  configuration, contract management, vault lifecycle management, and QR-Code generation. It is designed to facilitate seamless integration with financial systems, ensuring secure and efficient payment  processing while maintaining strict compliance standards.
 *
 * The version of the OpenAPI document: 0.0.1.wip.20250925
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.definancy.api;

import com.definancy.ApiClient;
import com.definancy.ApiException;
import com.definancy.BaseApi;
import com.definancy.Configuration;
import com.definancy.Pair;
import com.definancy.model.Asset;
import com.definancy.model.AssetConfig;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(
        value = "org.openapitools.codegen.languages.JavaClientCodegen",
        comments = "Generator version: 7.20.0")
public class AssetApi extends BaseApi {

    public AssetApi() {
        super(Configuration.getDefaultApiClient());
    }

    public AssetApi(ApiClient apiClient) {
        super(apiClient);
    }

    /**
     * Configure Asset Updates configuration parameters for a digital asset. This endpoint allows
     * you to update configuration parameters for a specific digital asset, which is essential for
     * managing and handling various assets in payment operations.
     *
     * @param assetUnit Ticker symbol for a digital asset (e.g., &#39;EUR&#39;, &#39;USDC&#39;,
     *     &#39;ETH&#39;, &#39;BTC&#39;). Used to identify the specific asset for contract
     *     operations, payment processing, and vault management. Must match an existing configured
     *     asset. (required)
     * @param assetConfig Asset configuration parameters to update. Currently supports only the
     *     &#39;enabled&#39; field for controlling asset availability. When setting
     *     &#39;enabled&#39; to false, the asset will be disabled for payment processing while
     *     preserving all existing contracts and historical transaction data. (required)
     * @return Asset
     * @throws ApiException if fails to make API call
     */
    public Asset configAsset(
            @javax.annotation.Nonnull String assetUnit,
            @javax.annotation.Nonnull AssetConfig assetConfig)
            throws ApiException {
        return this.configAsset(assetUnit, assetConfig, Collections.emptyMap());
    }

    /**
     * Configure Asset Updates configuration parameters for a digital asset. This endpoint allows
     * you to update configuration parameters for a specific digital asset, which is essential for
     * managing and handling various assets in payment operations.
     *
     * @param assetUnit Ticker symbol for a digital asset (e.g., &#39;EUR&#39;, &#39;USDC&#39;,
     *     &#39;ETH&#39;, &#39;BTC&#39;). Used to identify the specific asset for contract
     *     operations, payment processing, and vault management. Must match an existing configured
     *     asset. (required)
     * @param assetConfig Asset configuration parameters to update. Currently supports only the
     *     &#39;enabled&#39; field for controlling asset availability. When setting
     *     &#39;enabled&#39; to false, the asset will be disabled for payment processing while
     *     preserving all existing contracts and historical transaction data. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Asset
     * @throws ApiException if fails to make API call
     */
    public Asset configAsset(
            @javax.annotation.Nonnull String assetUnit,
            @javax.annotation.Nonnull AssetConfig assetConfig,
            Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = assetConfig;

        // verify the required parameter 'assetUnit' is set
        if (assetUnit == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'assetUnit' when calling configAsset");
        }

        // verify the required parameter 'assetConfig' is set
        if (assetConfig == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'assetConfig' when calling configAsset");
        }

        // create path and map variables
        String localVarPath =
                "/v1/asset/{assetUnit}"
                        .replaceAll(
                                "\\{" + "assetUnit" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(assetUnit)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Asset> localVarReturnType = new TypeReference<Asset>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "PATCH",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * Get Asset Retrieves configuration details for a specific digital asset. This endpoint returns
     * detailed configuration information for a specific digital asset, which is essential for
     * managing and handling various assets in payment operations.
     *
     * @param assetUnit Ticker symbol for a digital asset (e.g., &#39;EUR&#39;, &#39;USDC&#39;,
     *     &#39;ETH&#39;, &#39;BTC&#39;). Used to identify the specific asset for contract
     *     operations, payment processing, and vault management. Must match an existing configured
     *     asset. (required)
     * @return Asset
     * @throws ApiException if fails to make API call
     */
    public Asset getAsset(@javax.annotation.Nonnull String assetUnit) throws ApiException {
        return this.getAsset(assetUnit, Collections.emptyMap());
    }

    /**
     * Get Asset Retrieves configuration details for a specific digital asset. This endpoint returns
     * detailed configuration information for a specific digital asset, which is essential for
     * managing and handling various assets in payment operations.
     *
     * @param assetUnit Ticker symbol for a digital asset (e.g., &#39;EUR&#39;, &#39;USDC&#39;,
     *     &#39;ETH&#39;, &#39;BTC&#39;). Used to identify the specific asset for contract
     *     operations, payment processing, and vault management. Must match an existing configured
     *     asset. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Asset
     * @throws ApiException if fails to make API call
     */
    public Asset getAsset(
            @javax.annotation.Nonnull String assetUnit, Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'assetUnit' is set
        if (assetUnit == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'assetUnit' when calling getAsset");
        }

        // create path and map variables
        String localVarPath =
                "/v1/asset/{assetUnit}"
                        .replaceAll(
                                "\\{" + "assetUnit" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(assetUnit)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Asset> localVarReturnType = new TypeReference<Asset>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * List Assets Retrieves all configured digital assets. This endpoint returns a list of all
     * configured digital assets, which are essential for handling various assets in payment
     * operations.
     *
     * @return List&lt;Asset&gt;
     * @throws ApiException if fails to make API call
     */
    public List<Asset> getAssets() throws ApiException {
        return this.getAssets(Collections.emptyMap());
    }

    /**
     * List Assets Retrieves all configured digital assets. This endpoint returns a list of all
     * configured digital assets, which are essential for handling various assets in payment
     * operations.
     *
     * @param additionalHeaders additionalHeaders for this call
     * @return List&lt;Asset&gt;
     * @throws ApiException if fails to make API call
     */
    public List<Asset> getAssets(Map<String, String> additionalHeaders) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/asset";

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<List<Asset>> localVarReturnType = new TypeReference<List<Asset>>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    @Override
    public <T> T invokeAPI(
            String url,
            String method,
            Object request,
            TypeReference<T> returnType,
            Map<String, String> additionalHeaders)
            throws ApiException {
        String localVarPath = url.replace(apiClient.getBaseURL(), "");
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        return apiClient.invokeAPI(
                localVarPath,
                method,
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                request,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                returnType);
    }
}
