/*
 * Definancy API
 * REST API for managing asset, network and contract configurations, and vault-based financial operations. This API provides a comprehensive set of endpoints for health monitoring, network management, asset  configuration, contract management, vault lifecycle management, and QR-Code generation. It is designed to facilitate seamless integration with financial systems, ensuring secure and efficient payment  processing while maintaining strict compliance standards.
 *
 * The version of the OpenAPI document: 0.0.1.wip.20250925
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.definancy.api;

import com.definancy.ApiClient;
import com.definancy.ApiException;
import com.definancy.BaseApi;
import com.definancy.Configuration;
import com.definancy.Pair;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(
        value = "org.openapitools.codegen.languages.JavaClientCodegen",
        comments = "Generator version: 7.20.0")
public class AuthApi extends BaseApi {

    public AuthApi() {
        super(Configuration.getDefaultApiClient());
    }

    public AuthApi(ApiClient apiClient) {
        super(apiClient);
    }

    /**
     * Register a Definancy ID Registers a **Definancy ID**. This operation does not create a new
     * Definancy ID from scratch but formally registers the Definancy method-specific identifier on
     * the network, enabling it to be resolved and used for verifiable credentials and interactions.
     *
     * @param definancyId The Definancy Identifier. This is a base32-encoded (without padding)
     *     string derived from an ED25519 public key. The identifier is generated by: 1. Taking the
     *     32-byte public key 2. Computing a SHA512/256 hash (32 bytes) of the public key 3. Taking
     *     the last 4 bytes of this hash as a checksum 4. Appending the checksum to the public key
     *     (creating a 36-byte value) 5. Encoding the combined value using base32 without padding
     *     (required)
     * @throws ApiException if fails to make API call
     */
    public void registerAuth(@javax.annotation.Nonnull String definancyId) throws ApiException {
        this.registerAuth(definancyId, Collections.emptyMap());
    }

    /**
     * Register a Definancy ID Registers a **Definancy ID**. This operation does not create a new
     * Definancy ID from scratch but formally registers the Definancy method-specific identifier on
     * the network, enabling it to be resolved and used for verifiable credentials and interactions.
     *
     * @param definancyId The Definancy Identifier. This is a base32-encoded (without padding)
     *     string derived from an ED25519 public key. The identifier is generated by: 1. Taking the
     *     32-byte public key 2. Computing a SHA512/256 hash (32 bytes) of the public key 3. Taking
     *     the last 4 bytes of this hash as a checksum 4. Appending the checksum to the public key
     *     (creating a 36-byte value) 5. Encoding the combined value using base32 without padding
     *     (required)
     * @param additionalHeaders additionalHeaders for this call
     * @throws ApiException if fails to make API call
     */
    public void registerAuth(
            @javax.annotation.Nonnull String definancyId, Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'definancyId' is set
        if (definancyId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'definancyId' when calling registerAuth");
        }

        // create path and map variables
        String localVarPath =
                "/v1/auth/{definancyId}"
                        .replaceAll(
                                "\\{" + "definancyId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(definancyId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        apiClient.invokeAPI(
                localVarPath,
                "PUT",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                null);
    }

    @Override
    public <T> T invokeAPI(
            String url,
            String method,
            Object request,
            TypeReference<T> returnType,
            Map<String, String> additionalHeaders)
            throws ApiException {
        String localVarPath = url.replace(apiClient.getBaseURL(), "");
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        return apiClient.invokeAPI(
                localVarPath,
                method,
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                request,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                returnType);
    }
}
