/*
 * Definancy API
 * REST API for managing asset, network and contract configurations, and vault-based financial operations. This API provides a comprehensive set of endpoints for health monitoring, network management, asset  configuration, contract management, vault lifecycle management, and QR-Code generation. It is designed to facilitate seamless integration with financial systems, ensuring secure and efficient payment  processing while maintaining strict compliance standards.
 *
 * The version of the OpenAPI document: 0.0.1.wip.20250925
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.definancy.api;

import com.definancy.ApiClient;
import com.definancy.ApiException;
import com.definancy.BaseApi;
import com.definancy.Configuration;
import com.definancy.Pair;
import com.definancy.model.Contract;
import com.definancy.model.ContractConfig;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(
        value = "org.openapitools.codegen.languages.JavaClientCodegen",
        comments = "Generator version: 7.20.0")
public class ContractApi extends BaseApi {

    public ContractApi() {
        super(Configuration.getDefaultApiClient());
    }

    public ContractApi(ApiClient apiClient) {
        super(apiClient);
    }

    /**
     * Configure Contract Updates configuration parameters for a contract. This endpoint allows you
     * to update configuration parameters for a specific contract, which is essential for executing
     * and validating payments on networks.
     *
     * @param assetUnit Ticker symbol for a digital asset (e.g., &#39;EUR&#39;, &#39;USDC&#39;,
     *     &#39;ETH&#39;, &#39;BTC&#39;). Used to identify the specific asset for contract
     *     operations, payment processing, and vault management. Must match an existing configured
     *     asset. (required)
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @param contractConfig Contract configuration parameters to update. Currently supports only
     *     the &#39;enabled&#39; field for controlling contract availability. When setting
     *     &#39;enabled&#39; to false, the contract will be disabled for payment processing while
     *     preserving all existing vault associations, payment acceptance, and historical
     *     transaction data. (required)
     * @return Contract
     * @throws ApiException if fails to make API call
     */
    public Contract configContract(
            @javax.annotation.Nonnull String assetUnit,
            @javax.annotation.Nonnull String networkId,
            @javax.annotation.Nonnull ContractConfig contractConfig)
            throws ApiException {
        return this.configContract(assetUnit, networkId, contractConfig, Collections.emptyMap());
    }

    /**
     * Configure Contract Updates configuration parameters for a contract. This endpoint allows you
     * to update configuration parameters for a specific contract, which is essential for executing
     * and validating payments on networks.
     *
     * @param assetUnit Ticker symbol for a digital asset (e.g., &#39;EUR&#39;, &#39;USDC&#39;,
     *     &#39;ETH&#39;, &#39;BTC&#39;). Used to identify the specific asset for contract
     *     operations, payment processing, and vault management. Must match an existing configured
     *     asset. (required)
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @param contractConfig Contract configuration parameters to update. Currently supports only
     *     the &#39;enabled&#39; field for controlling contract availability. When setting
     *     &#39;enabled&#39; to false, the contract will be disabled for payment processing while
     *     preserving all existing vault associations, payment acceptance, and historical
     *     transaction data. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Contract
     * @throws ApiException if fails to make API call
     */
    public Contract configContract(
            @javax.annotation.Nonnull String assetUnit,
            @javax.annotation.Nonnull String networkId,
            @javax.annotation.Nonnull ContractConfig contractConfig,
            Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = contractConfig;

        // verify the required parameter 'assetUnit' is set
        if (assetUnit == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'assetUnit' when calling configContract");
        }

        // verify the required parameter 'networkId' is set
        if (networkId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'networkId' when calling configContract");
        }

        // verify the required parameter 'contractConfig' is set
        if (contractConfig == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'contractConfig' when calling configContract");
        }

        // create path and map variables
        String localVarPath =
                "/v1/contract/{assetUnit}/{networkId}"
                        .replaceAll(
                                "\\{" + "assetUnit" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(assetUnit)))
                        .replaceAll(
                                "\\{" + "networkId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(networkId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Contract> localVarReturnType = new TypeReference<Contract>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "PATCH",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * Get Contract Retrieves configuration details for a specific smart contract. This endpoint
     * returns detailed configuration information for a specific contract, which is essential for
     * executing and validating payments on networks.
     *
     * @param assetUnit Ticker symbol for a digital asset (e.g., &#39;EUR&#39;, &#39;USDC&#39;,
     *     &#39;ETH&#39;, &#39;BTC&#39;). Used to identify the specific asset for contract
     *     operations, payment processing, and vault management. Must match an existing configured
     *     asset. (required)
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @return Contract
     * @throws ApiException if fails to make API call
     */
    public Contract getContract(
            @javax.annotation.Nonnull String assetUnit, @javax.annotation.Nonnull String networkId)
            throws ApiException {
        return this.getContract(assetUnit, networkId, Collections.emptyMap());
    }

    /**
     * Get Contract Retrieves configuration details for a specific smart contract. This endpoint
     * returns detailed configuration information for a specific contract, which is essential for
     * executing and validating payments on networks.
     *
     * @param assetUnit Ticker symbol for a digital asset (e.g., &#39;EUR&#39;, &#39;USDC&#39;,
     *     &#39;ETH&#39;, &#39;BTC&#39;). Used to identify the specific asset for contract
     *     operations, payment processing, and vault management. Must match an existing configured
     *     asset. (required)
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Contract
     * @throws ApiException if fails to make API call
     */
    public Contract getContract(
            @javax.annotation.Nonnull String assetUnit,
            @javax.annotation.Nonnull String networkId,
            Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'assetUnit' is set
        if (assetUnit == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'assetUnit' when calling getContract");
        }

        // verify the required parameter 'networkId' is set
        if (networkId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'networkId' when calling getContract");
        }

        // create path and map variables
        String localVarPath =
                "/v1/contract/{assetUnit}/{networkId}"
                        .replaceAll(
                                "\\{" + "assetUnit" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(assetUnit)))
                        .replaceAll(
                                "\\{" + "networkId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(networkId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Contract> localVarReturnType = new TypeReference<Contract>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * List Contracts Retrieves all contract configurations. This endpoint returns a list of all
     * configured contracts, which are essential for executing and validating payments on networks.
     *
     * @return List&lt;Contract&gt;
     * @throws ApiException if fails to make API call
     */
    public List<Contract> getContracts() throws ApiException {
        return this.getContracts(Collections.emptyMap());
    }

    /**
     * List Contracts Retrieves all contract configurations. This endpoint returns a list of all
     * configured contracts, which are essential for executing and validating payments on networks.
     *
     * @param additionalHeaders additionalHeaders for this call
     * @return List&lt;Contract&gt;
     * @throws ApiException if fails to make API call
     */
    public List<Contract> getContracts(Map<String, String> additionalHeaders) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/contract";

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<List<Contract>> localVarReturnType = new TypeReference<List<Contract>>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    @Override
    public <T> T invokeAPI(
            String url,
            String method,
            Object request,
            TypeReference<T> returnType,
            Map<String, String> additionalHeaders)
            throws ApiException {
        String localVarPath = url.replace(apiClient.getBaseURL(), "");
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        return apiClient.invokeAPI(
                localVarPath,
                method,
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                request,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                returnType);
    }
}
