/*
 * Definancy API
 * REST API for managing asset, network and contract configurations, and vault-based financial operations. This API provides a comprehensive set of endpoints for health monitoring, network management, asset  configuration, contract management, vault lifecycle management, and QR-Code generation. It is designed to facilitate seamless integration with financial systems, ensuring secure and efficient payment  processing while maintaining strict compliance standards.
 *
 * The version of the OpenAPI document: 0.0.1.wip.20250925
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.definancy.api;

import com.definancy.ApiClient;
import com.definancy.ApiException;
import com.definancy.BaseApi;
import com.definancy.Configuration;
import com.definancy.Pair;
import com.definancy.model.Contract;
import com.definancy.model.Network;
import com.definancy.model.NetworkConfig;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(
        value = "org.openapitools.codegen.languages.JavaClientCodegen",
        comments = "Generator version: 7.20.0")
public class NetworkApi extends BaseApi {

    public NetworkApi() {
        super(Configuration.getDefaultApiClient());
    }

    public NetworkApi(ApiClient apiClient) {
        super(apiClient);
    }

    /**
     * Configure Network Updates configuration parameters for a network. This endpoint allows you to
     * update configuration parameters for a specific network, which is essential for managing and
     * maintaining networks for payment processing.
     *
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @param networkConfig Network configuration parameters to update. Currently supports only the
     *     &#39;enabled&#39; field for controlling network availability. When setting
     *     &#39;enabled&#39; to false, the network will be disabled for payment processing while
     *     preserving all existing contracts and historical transaction data. (required)
     * @return Network
     * @throws ApiException if fails to make API call
     */
    public Network configNetwork(
            @javax.annotation.Nonnull String networkId,
            @javax.annotation.Nonnull NetworkConfig networkConfig)
            throws ApiException {
        return this.configNetwork(networkId, networkConfig, Collections.emptyMap());
    }

    /**
     * Configure Network Updates configuration parameters for a network. This endpoint allows you to
     * update configuration parameters for a specific network, which is essential for managing and
     * maintaining networks for payment processing.
     *
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @param networkConfig Network configuration parameters to update. Currently supports only the
     *     &#39;enabled&#39; field for controlling network availability. When setting
     *     &#39;enabled&#39; to false, the network will be disabled for payment processing while
     *     preserving all existing contracts and historical transaction data. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Network
     * @throws ApiException if fails to make API call
     */
    public Network configNetwork(
            @javax.annotation.Nonnull String networkId,
            @javax.annotation.Nonnull NetworkConfig networkConfig,
            Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = networkConfig;

        // verify the required parameter 'networkId' is set
        if (networkId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'networkId' when calling configNetwork");
        }

        // verify the required parameter 'networkConfig' is set
        if (networkConfig == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'networkConfig' when calling configNetwork");
        }

        // create path and map variables
        String localVarPath =
                "/v1/network/{networkId}"
                        .replaceAll(
                                "\\{" + "networkId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(networkId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Network> localVarReturnType = new TypeReference<Network>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "PATCH",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * Get Network Retrieves configuration details for a specific network. This endpoint returns
     * detailed configuration information for a specific network, which is essential for managing
     * and maintaining networks for payment processing.
     *
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @return Network
     * @throws ApiException if fails to make API call
     */
    public Network getNetwork(@javax.annotation.Nonnull String networkId) throws ApiException {
        return this.getNetwork(networkId, Collections.emptyMap());
    }

    /**
     * Get Network Retrieves configuration details for a specific network. This endpoint returns
     * detailed configuration information for a specific network, which is essential for managing
     * and maintaining networks for payment processing.
     *
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Network
     * @throws ApiException if fails to make API call
     */
    public Network getNetwork(
            @javax.annotation.Nonnull String networkId, Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'networkId' is set
        if (networkId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'networkId' when calling getNetwork");
        }

        // create path and map variables
        String localVarPath =
                "/v1/network/{networkId}"
                        .replaceAll(
                                "\\{" + "networkId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(networkId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Network> localVarReturnType = new TypeReference<Network>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * Get Network Native Asset Retrieves the native asset of a specific network in a form of a
     * contract. This endpoint returns the native asset of a specific network in the form of a
     * contract, which is essential for understanding and managing the native token of a network.
     *
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @return Contract
     * @throws ApiException if fails to make API call
     */
    public Contract getNetworkNativeAsset(@javax.annotation.Nonnull String networkId)
            throws ApiException {
        return this.getNetworkNativeAsset(networkId, Collections.emptyMap());
    }

    /**
     * Get Network Native Asset Retrieves the native asset of a specific network in a form of a
     * contract. This endpoint returns the native asset of a specific network in the form of a
     * contract, which is essential for understanding and managing the native token of a network.
     *
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Contract
     * @throws ApiException if fails to make API call
     */
    public Contract getNetworkNativeAsset(
            @javax.annotation.Nonnull String networkId, Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'networkId' is set
        if (networkId == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'networkId' when calling getNetworkNativeAsset");
        }

        // create path and map variables
        String localVarPath =
                "/v1/network/{networkId}/native"
                        .replaceAll(
                                "\\{" + "networkId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(networkId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Contract> localVarReturnType = new TypeReference<Contract>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * List Networks Retrieves all configured networks. This endpoint returns a list of all
     * configured networks, which are essential for setting up and maintaining networks for payment
     * processing.
     *
     * @return List&lt;Network&gt;
     * @throws ApiException if fails to make API call
     */
    public List<Network> getNetworks() throws ApiException {
        return this.getNetworks(Collections.emptyMap());
    }

    /**
     * List Networks Retrieves all configured networks. This endpoint returns a list of all
     * configured networks, which are essential for setting up and maintaining networks for payment
     * processing.
     *
     * @param additionalHeaders additionalHeaders for this call
     * @return List&lt;Network&gt;
     * @throws ApiException if fails to make API call
     */
    public List<Network> getNetworks(Map<String, String> additionalHeaders) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/network";

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<List<Network>> localVarReturnType = new TypeReference<List<Network>>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    @Override
    public <T> T invokeAPI(
            String url,
            String method,
            Object request,
            TypeReference<T> returnType,
            Map<String, String> additionalHeaders)
            throws ApiException {
        String localVarPath = url.replace(apiClient.getBaseURL(), "");
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        return apiClient.invokeAPI(
                localVarPath,
                method,
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                request,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                returnType);
    }
}
