/*
 * Definancy API
 * REST API for managing asset, network and contract configurations, and vault-based financial operations. This API provides a comprehensive set of endpoints for health monitoring, network management, asset  configuration, contract management, vault lifecycle management, and QR-Code generation. It is designed to facilitate seamless integration with financial systems, ensuring secure and efficient payment  processing while maintaining strict compliance standards.
 *
 * The version of the OpenAPI document: 0.0.1.wip.20250925
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.definancy.api;

import com.definancy.ApiClient;
import com.definancy.ApiException;
import com.definancy.BaseApi;
import com.definancy.Configuration;
import com.definancy.Pair;
import com.definancy.model.QrCode;
import com.definancy.model.QrCodeTransactionRequest;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(
        value = "org.openapitools.codegen.languages.JavaClientCodegen",
        comments = "Generator version: 7.20.0")
public class QrCodeApi extends BaseApi {

    public QrCodeApi() {
        super(Configuration.getDefaultApiClient());
    }

    public QrCodeApi(ApiClient apiClient) {
        super(apiClient);
    }

    /**
     * Generate QR-Codes for wallets Generates the QR-Codes to be used by a wallet to help on the
     * creation of a transaction request.
     *
     * @param qrCodeTransactionRequest Contract-amount pair for which to generate the qr-codes. The
     *     amount should represent the desired payment value in the contract&#39;s unit. (required)
     * @return List&lt;QrCode&gt;
     * @throws ApiException if fails to make API call
     */
    public List<QrCode> generateWalletQrCodes(
            @javax.annotation.Nonnull QrCodeTransactionRequest qrCodeTransactionRequest)
            throws ApiException {
        return this.generateWalletQrCodes(qrCodeTransactionRequest, Collections.emptyMap());
    }

    /**
     * Generate QR-Codes for wallets Generates the QR-Codes to be used by a wallet to help on the
     * creation of a transaction request.
     *
     * @param qrCodeTransactionRequest Contract-amount pair for which to generate the qr-codes. The
     *     amount should represent the desired payment value in the contract&#39;s unit. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return List&lt;QrCode&gt;
     * @throws ApiException if fails to make API call
     */
    public List<QrCode> generateWalletQrCodes(
            @javax.annotation.Nonnull QrCodeTransactionRequest qrCodeTransactionRequest,
            Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = qrCodeTransactionRequest;

        // verify the required parameter 'qrCodeTransactionRequest' is set
        if (qrCodeTransactionRequest == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'qrCodeTransactionRequest' when calling generateWalletQrCodes");
        }

        // create path and map variables
        String localVarPath = "/v1/qrcode/transaction";

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<List<QrCode>> localVarReturnType = new TypeReference<List<QrCode>>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    @Override
    public <T> T invokeAPI(
            String url,
            String method,
            Object request,
            TypeReference<T> returnType,
            Map<String, String> additionalHeaders)
            throws ApiException {
        String localVarPath = url.replace(apiClient.getBaseURL(), "");
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        return apiClient.invokeAPI(
                localVarPath,
                method,
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                request,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                returnType);
    }
}
