/*
 * Definancy API
 * REST API for managing asset, network and contract configurations, and vault-based financial operations. This API provides a comprehensive set of endpoints for health monitoring, network management, asset  configuration, contract management, vault lifecycle management, and QR-Code generation. It is designed to facilitate seamless integration with financial systems, ensuring secure and efficient payment  processing while maintaining strict compliance standards.
 *
 * The version of the OpenAPI document: 0.0.1.wip.20250925
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.definancy.api;

import com.definancy.ApiClient;
import com.definancy.ApiException;
import com.definancy.BaseApi;
import com.definancy.Configuration;
import com.definancy.Pair;
import com.definancy.model.Vault;
import com.definancy.model.VaultConfig;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(
        value = "org.openapitools.codegen.languages.JavaClientCodegen",
        comments = "Generator version: 7.20.0")
public class VaultApi extends BaseApi {

    public VaultApi() {
        super(Configuration.getDefaultApiClient());
    }

    public VaultApi(ApiClient apiClient) {
        super(apiClient);
    }

    /**
     * Archive Vault Deactivates a vault while preserving historical data.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @return Vault
     * @throws ApiException if fails to make API call
     */
    public Vault archiveVault(@javax.annotation.Nonnull String vaultId) throws ApiException {
        return this.archiveVault(vaultId, Collections.emptyMap());
    }

    /**
     * Archive Vault Deactivates a vault while preserving historical data.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Vault
     * @throws ApiException if fails to make API call
     */
    public Vault archiveVault(
            @javax.annotation.Nonnull String vaultId, Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'vaultId' is set
        if (vaultId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'vaultId' when calling archiveVault");
        }

        // create path and map variables
        String localVarPath =
                "/v1/vault/{vaultId}"
                        .replaceAll(
                                "\\{" + "vaultId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(vaultId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Vault> localVarReturnType = new TypeReference<Vault>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "DELETE",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * Partially Update Vault Configuration Updates specific fields of an existing vault
     * configuration. Only provided properties will be modified. Returns the updated vault
     * configuration.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param vaultConfig Partial vault configuration containing only the fields to be updated. The
     *     &#39;contract-ids&#39; list can be used to modify vault subscriptions by adding or
     *     removing contract associations. The &#39;enabled&#39; field can be used to activate or
     *     deactivate the vault for new operations. Only the provided fields will be modified,
     *     preserving all other existing configuration settings. (required)
     * @return Vault
     * @throws ApiException if fails to make API call
     */
    public Vault configVault(
            @javax.annotation.Nonnull String vaultId,
            @javax.annotation.Nonnull VaultConfig vaultConfig)
            throws ApiException {
        return this.configVault(vaultId, vaultConfig, Collections.emptyMap());
    }

    /**
     * Partially Update Vault Configuration Updates specific fields of an existing vault
     * configuration. Only provided properties will be modified. Returns the updated vault
     * configuration.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param vaultConfig Partial vault configuration containing only the fields to be updated. The
     *     &#39;contract-ids&#39; list can be used to modify vault subscriptions by adding or
     *     removing contract associations. The &#39;enabled&#39; field can be used to activate or
     *     deactivate the vault for new operations. Only the provided fields will be modified,
     *     preserving all other existing configuration settings. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Vault
     * @throws ApiException if fails to make API call
     */
    public Vault configVault(
            @javax.annotation.Nonnull String vaultId,
            @javax.annotation.Nonnull VaultConfig vaultConfig,
            Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = vaultConfig;

        // verify the required parameter 'vaultId' is set
        if (vaultId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'vaultId' when calling configVault");
        }

        // verify the required parameter 'vaultConfig' is set
        if (vaultConfig == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'vaultConfig' when calling configVault");
        }

        // create path and map variables
        String localVarPath =
                "/v1/vault/{vaultId}"
                        .replaceAll(
                                "\\{" + "vaultId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(vaultId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Vault> localVarReturnType = new TypeReference<Vault>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "PATCH",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * Get Vault Retrieves configuration details for a specific vault. This endpoint returns
     * detailed configuration information for a specific vault, which is essential for organizing
     * and processing payments while maintaining compliance.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @return Vault
     * @throws ApiException if fails to make API call
     */
    public Vault getVault(@javax.annotation.Nonnull String vaultId) throws ApiException {
        return this.getVault(vaultId, Collections.emptyMap());
    }

    /**
     * Get Vault Retrieves configuration details for a specific vault. This endpoint returns
     * detailed configuration information for a specific vault, which is essential for organizing
     * and processing payments while maintaining compliance.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Vault
     * @throws ApiException if fails to make API call
     */
    public Vault getVault(
            @javax.annotation.Nonnull String vaultId, Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'vaultId' is set
        if (vaultId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'vaultId' when calling getVault");
        }

        // create path and map variables
        String localVarPath =
                "/v1/vault/{vaultId}"
                        .replaceAll(
                                "\\{" + "vaultId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(vaultId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Vault> localVarReturnType = new TypeReference<Vault>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * List Vaults Retrieves all vault configurations. This endpoint returns a list of all vault
     * configurations, which are essential for organizing and processing payments while maintaining
     * compliance.
     *
     * @return List&lt;Vault&gt;
     * @throws ApiException if fails to make API call
     */
    public List<Vault> getVaults() throws ApiException {
        return this.getVaults(Collections.emptyMap());
    }

    /**
     * List Vaults Retrieves all vault configurations. This endpoint returns a list of all vault
     * configurations, which are essential for organizing and processing payments while maintaining
     * compliance.
     *
     * @param additionalHeaders additionalHeaders for this call
     * @return List&lt;Vault&gt;
     * @throws ApiException if fails to make API call
     */
    public List<Vault> getVaults(Map<String, String> additionalHeaders) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/vault";

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<List<Vault>> localVarReturnType = new TypeReference<List<Vault>>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * Create or Update Vault Updates or creates the configuration for a vault with {vaultId}. This
     * operation will fully replace the existing configuration if the vault exists, or create a new
     * vault if it does not.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param vaultConfig Vault configuration with the fields to be updated with non-default values.
     *     All non-specified fields will be set with the default values. The &#39;contract-ids&#39;
     *     list can be used to add or remove contract subscriptions. The &#39;enabled&#39; field can
     *     be used to activate or deactivate the vault. (required)
     * @return Vault
     * @throws ApiException if fails to make API call
     */
    public Vault setVault(
            @javax.annotation.Nonnull String vaultId,
            @javax.annotation.Nonnull VaultConfig vaultConfig)
            throws ApiException {
        return this.setVault(vaultId, vaultConfig, Collections.emptyMap());
    }

    /**
     * Create or Update Vault Updates or creates the configuration for a vault with {vaultId}. This
     * operation will fully replace the existing configuration if the vault exists, or create a new
     * vault if it does not.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param vaultConfig Vault configuration with the fields to be updated with non-default values.
     *     All non-specified fields will be set with the default values. The &#39;contract-ids&#39;
     *     list can be used to add or remove contract subscriptions. The &#39;enabled&#39; field can
     *     be used to activate or deactivate the vault. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Vault
     * @throws ApiException if fails to make API call
     */
    public Vault setVault(
            @javax.annotation.Nonnull String vaultId,
            @javax.annotation.Nonnull VaultConfig vaultConfig,
            Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = vaultConfig;

        // verify the required parameter 'vaultId' is set
        if (vaultId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'vaultId' when calling setVault");
        }

        // verify the required parameter 'vaultConfig' is set
        if (vaultConfig == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'vaultConfig' when calling setVault");
        }

        // create path and map variables
        String localVarPath =
                "/v1/vault/{vaultId}"
                        .replaceAll(
                                "\\{" + "vaultId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(vaultId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Vault> localVarReturnType = new TypeReference<Vault>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "PUT",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    @Override
    public <T> T invokeAPI(
            String url,
            String method,
            Object request,
            TypeReference<T> returnType,
            Map<String, String> additionalHeaders)
            throws ApiException {
        String localVarPath = url.replace(apiClient.getBaseURL(), "");
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        return apiClient.invokeAPI(
                localVarPath,
                method,
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                request,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                returnType);
    }
}
