/*
 * Definancy API
 * REST API for managing asset, network and contract configurations, and vault-based financial operations. This API provides a comprehensive set of endpoints for health monitoring, network management, asset  configuration, contract management, vault lifecycle management, and QR-Code generation. It is designed to facilitate seamless integration with financial systems, ensuring secure and efficient payment  processing while maintaining strict compliance standards.
 *
 * The version of the OpenAPI document: 0.0.1.wip.20250925
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.definancy.api;

import com.definancy.ApiClient;
import com.definancy.ApiException;
import com.definancy.BaseApi;
import com.definancy.Configuration;
import com.definancy.Pair;
import com.definancy.model.Document;
import com.definancy.model.DocumentConfig;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@javax.annotation.Generated(
        value = "org.openapitools.codegen.languages.JavaClientCodegen",
        comments = "Generator version: 7.20.0")
public class VaultDocumentApi extends BaseApi {

    public VaultDocumentApi() {
        super(Configuration.getDefaultApiClient());
    }

    public VaultDocumentApi(ApiClient apiClient) {
        super(apiClient);
    }

    /**
     * Archive Document Deactivates document from active consideration while retaining it for audit
     * purposes.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param documentId Unique identifier for a compliance document within a vault. Used for
     *     document retrieval, status checking, linking to payment acceptance, and managing the
     *     document verification lifecycle. (required)
     * @return Document
     * @throws ApiException if fails to make API call
     */
    public Document archiveDocument(
            @javax.annotation.Nonnull String vaultId, @javax.annotation.Nonnull UUID documentId)
            throws ApiException {
        return this.archiveDocument(vaultId, documentId, Collections.emptyMap());
    }

    /**
     * Archive Document Deactivates document from active consideration while retaining it for audit
     * purposes.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param documentId Unique identifier for a compliance document within a vault. Used for
     *     document retrieval, status checking, linking to payment acceptance, and managing the
     *     document verification lifecycle. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Document
     * @throws ApiException if fails to make API call
     */
    public Document archiveDocument(
            @javax.annotation.Nonnull String vaultId,
            @javax.annotation.Nonnull UUID documentId,
            Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'vaultId' is set
        if (vaultId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'vaultId' when calling archiveDocument");
        }

        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'documentId' when calling archiveDocument");
        }

        // create path and map variables
        String localVarPath =
                "/v1/vault/{vaultId}/document/{documentId}"
                        .replaceAll(
                                "\\{" + "vaultId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(vaultId)))
                        .replaceAll(
                                "\\{" + "documentId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(documentId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Document> localVarReturnType = new TypeReference<Document>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "DELETE",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * Get Document Retrieves metadata and content of a document including validation status and
     * reviewer comments.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param documentId Unique identifier for a compliance document within a vault. Used for
     *     document retrieval, status checking, linking to payment acceptance, and managing the
     *     document verification lifecycle. (required)
     * @return Document
     * @throws ApiException if fails to make API call
     */
    public Document getDocument(
            @javax.annotation.Nonnull String vaultId, @javax.annotation.Nonnull UUID documentId)
            throws ApiException {
        return this.getDocument(vaultId, documentId, Collections.emptyMap());
    }

    /**
     * Get Document Retrieves metadata and content of a document including validation status and
     * reviewer comments.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param documentId Unique identifier for a compliance document within a vault. Used for
     *     document retrieval, status checking, linking to payment acceptance, and managing the
     *     document verification lifecycle. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Document
     * @throws ApiException if fails to make API call
     */
    public Document getDocument(
            @javax.annotation.Nonnull String vaultId,
            @javax.annotation.Nonnull UUID documentId,
            Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'vaultId' is set
        if (vaultId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'vaultId' when calling getDocument");
        }

        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'documentId' when calling getDocument");
        }

        // create path and map variables
        String localVarPath =
                "/v1/vault/{vaultId}/document/{documentId}"
                        .replaceAll(
                                "\\{" + "vaultId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(vaultId)))
                        .replaceAll(
                                "\\{" + "documentId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(documentId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Document> localVarReturnType = new TypeReference<Document>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * Submit Document Submits a new document for verification. Supported types: personal
     * identification, entity documentation, wallet verification data.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param documentConfig Complete document configuration including document type and content.
     *     The &#39;type&#39; field determines the document category (PersonV1, CustodialV1, or
     *     NonCustodialV1), and the &#39;data&#39; field contains the corresponding document data
     *     structure with all required fields. (required)
     * @return Document
     * @throws ApiException if fails to make API call
     */
    public Document submitDocument(
            @javax.annotation.Nonnull String vaultId,
            @javax.annotation.Nonnull DocumentConfig documentConfig)
            throws ApiException {
        return this.submitDocument(vaultId, documentConfig, Collections.emptyMap());
    }

    /**
     * Submit Document Submits a new document for verification. Supported types: personal
     * identification, entity documentation, wallet verification data.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param documentConfig Complete document configuration including document type and content.
     *     The &#39;type&#39; field determines the document category (PersonV1, CustodialV1, or
     *     NonCustodialV1), and the &#39;data&#39; field contains the corresponding document data
     *     structure with all required fields. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Document
     * @throws ApiException if fails to make API call
     */
    public Document submitDocument(
            @javax.annotation.Nonnull String vaultId,
            @javax.annotation.Nonnull DocumentConfig documentConfig,
            Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = documentConfig;

        // verify the required parameter 'vaultId' is set
        if (vaultId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'vaultId' when calling submitDocument");
        }

        // verify the required parameter 'documentConfig' is set
        if (documentConfig == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'documentConfig' when calling submitDocument");
        }

        // create path and map variables
        String localVarPath =
                "/v1/vault/{vaultId}/document"
                        .replaceAll(
                                "\\{" + "vaultId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(vaultId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Document> localVarReturnType = new TypeReference<Document>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "PUT",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    @Override
    public <T> T invokeAPI(
            String url,
            String method,
            Object request,
            TypeReference<T> returnType,
            Map<String, String> additionalHeaders)
            throws ApiException {
        String localVarPath = url.replace(apiClient.getBaseURL(), "");
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        return apiClient.invokeAPI(
                localVarPath,
                method,
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                request,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                returnType);
    }
}
