/*
 * Definancy API
 * REST API for managing asset, network and contract configurations, and vault-based financial operations. This API provides a comprehensive set of endpoints for health monitoring, network management, asset  configuration, contract management, vault lifecycle management, and QR-Code generation. It is designed to facilitate seamless integration with financial systems, ensuring secure and efficient payment  processing while maintaining strict compliance standards.
 *
 * The version of the OpenAPI document: 0.0.1.wip.20250925
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.definancy.api;

import com.definancy.ApiClient;
import com.definancy.ApiException;
import com.definancy.BaseApi;
import com.definancy.Configuration;
import com.definancy.Pair;
import com.definancy.model.Vault;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(
        value = "org.openapitools.codegen.languages.JavaClientCodegen",
        comments = "Generator version: 7.20.0")
public class VaultContractSubscriptionApi extends BaseApi {

    public VaultContractSubscriptionApi() {
        super(Configuration.getDefaultApiClient());
    }

    public VaultContractSubscriptionApi(ApiClient apiClient) {
        super(apiClient);
    }

    /**
     * Subscribe Contract to Vault Associates a smart contract with a vault.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param assetUnit Ticker symbol for a digital asset (e.g., &#39;EUR&#39;, &#39;USDC&#39;,
     *     &#39;ETH&#39;, &#39;BTC&#39;). Used to identify the specific asset for contract
     *     operations, payment processing, and vault management. Must match an existing configured
     *     asset. (required)
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @return Vault
     * @throws ApiException if fails to make API call
     */
    public Vault vaultSubscribeContract(
            @javax.annotation.Nonnull String vaultId,
            @javax.annotation.Nonnull String assetUnit,
            @javax.annotation.Nonnull String networkId)
            throws ApiException {
        return this.vaultSubscribeContract(vaultId, assetUnit, networkId, Collections.emptyMap());
    }

    /**
     * Subscribe Contract to Vault Associates a smart contract with a vault.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param assetUnit Ticker symbol for a digital asset (e.g., &#39;EUR&#39;, &#39;USDC&#39;,
     *     &#39;ETH&#39;, &#39;BTC&#39;). Used to identify the specific asset for contract
     *     operations, payment processing, and vault management. Must match an existing configured
     *     asset. (required)
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Vault
     * @throws ApiException if fails to make API call
     */
    public Vault vaultSubscribeContract(
            @javax.annotation.Nonnull String vaultId,
            @javax.annotation.Nonnull String assetUnit,
            @javax.annotation.Nonnull String networkId,
            Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'vaultId' is set
        if (vaultId == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'vaultId' when calling vaultSubscribeContract");
        }

        // verify the required parameter 'assetUnit' is set
        if (assetUnit == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'assetUnit' when calling vaultSubscribeContract");
        }

        // verify the required parameter 'networkId' is set
        if (networkId == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'networkId' when calling vaultSubscribeContract");
        }

        // create path and map variables
        String localVarPath =
                "/v1/vault/{vaultId}/contract/{assetUnit}/{networkId}"
                        .replaceAll(
                                "\\{" + "vaultId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(vaultId)))
                        .replaceAll(
                                "\\{" + "assetUnit" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(assetUnit)))
                        .replaceAll(
                                "\\{" + "networkId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(networkId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Vault> localVarReturnType = new TypeReference<Vault>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "PUT",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    /**
     * Unsubscribe Contract from Vault Removes association between a contract and vault.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param assetUnit Ticker symbol for a digital asset (e.g., &#39;EUR&#39;, &#39;USDC&#39;,
     *     &#39;ETH&#39;, &#39;BTC&#39;). Used to identify the specific asset for contract
     *     operations, payment processing, and vault management. Must match an existing configured
     *     asset. (required)
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @return Vault
     * @throws ApiException if fails to make API call
     */
    public Vault vaultUnsubscribeContract(
            @javax.annotation.Nonnull String vaultId,
            @javax.annotation.Nonnull String assetUnit,
            @javax.annotation.Nonnull String networkId)
            throws ApiException {
        return this.vaultUnsubscribeContract(vaultId, assetUnit, networkId, Collections.emptyMap());
    }

    /**
     * Unsubscribe Contract from Vault Removes association between a contract and vault.
     *
     * @param vaultId Unique identifier for a vault container that manages payment acceptance,
     *     documents, and contract subscriptions. Used across all vault-related operations including
     *     payment processing, document management, and configuration updates. (required)
     * @param assetUnit Ticker symbol for a digital asset (e.g., &#39;EUR&#39;, &#39;USDC&#39;,
     *     &#39;ETH&#39;, &#39;BTC&#39;). Used to identify the specific asset for contract
     *     operations, payment processing, and vault management. Must match an existing configured
     *     asset. (required)
     * @param networkId Unique identifier for a specific blockchain network (e.g.,
     *     &#39;ethereum&#39;, &#39;algorand&#39;). Used to target operations on a particular
     *     network when managing contracts, assets, or vault subscriptions. Must match an existing
     *     configured network. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Vault
     * @throws ApiException if fails to make API call
     */
    public Vault vaultUnsubscribeContract(
            @javax.annotation.Nonnull String vaultId,
            @javax.annotation.Nonnull String assetUnit,
            @javax.annotation.Nonnull String networkId,
            Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'vaultId' is set
        if (vaultId == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'vaultId' when calling vaultUnsubscribeContract");
        }

        // verify the required parameter 'assetUnit' is set
        if (assetUnit == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'assetUnit' when calling vaultUnsubscribeContract");
        }

        // verify the required parameter 'networkId' is set
        if (networkId == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'networkId' when calling vaultUnsubscribeContract");
        }

        // create path and map variables
        String localVarPath =
                "/v1/vault/{vaultId}/contract/{assetUnit}/{networkId}"
                        .replaceAll(
                                "\\{" + "vaultId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(vaultId)))
                        .replaceAll(
                                "\\{" + "assetUnit" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(assetUnit)))
                        .replaceAll(
                                "\\{" + "networkId" + "\\}",
                                apiClient.escapeString(apiClient.parameterToString(networkId)));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        TypeReference<Vault> localVarReturnType = new TypeReference<Vault>() {};
        return apiClient.invokeAPI(
                localVarPath,
                "DELETE",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType);
    }

    @Override
    public <T> T invokeAPI(
            String url,
            String method,
            Object request,
            TypeReference<T> returnType,
            Map<String, String> additionalHeaders)
            throws ApiException {
        String localVarPath = url.replace(apiClient.getBaseURL(), "");
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {"dpop-auth", "dpop-proof"};

        return apiClient.invokeAPI(
                localVarPath,
                method,
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                request,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                returnType);
    }
}
